@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&family=Roboto&display=swap");
body {
}
.calc {
    width: 320px;
    margin: 0px auto;
    padding: 5px;
    background-color: black;
}
.calc .formScreen,
.outputScreen {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: right;
    font-size: 20px;
}
.calc-form {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
}
.calc-form button {
    height: 65px;
    width: 80px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: #ffff;
    border: none;
    outline: none;
}
.calc-form #clear{
    background-color: rgb(172 57 57);
}
