@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #ffff;
}
.container {
    width: 100%;
    margin: 0px auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading {
    padding: 0px auto;
    margin: 0px 0px 20px 0px;
}
.heading .title {
    text-align: center;
    padding: 25px 0px 10px 0px;
    font-size: 30px;
}
.heading .description {
    text-align: center;
    margin: 0px auto;
    font-weight: 200;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.form {
    width: 720px;
    background-color: rgb(27, 27, 50, 80%);
    border-radius: 3px;
}
.form .form-group {
    width: 650px;
    margin: 0px auto;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}
.form .form-group label {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
.form .form-group input[type="text"] {
    height: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: black;
    outline: none;
}
.form .form-group .form-selcect {
    height: 40px;
    color: black;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0px 10px 0px 10px;
}
.form .form-group .form-selcect option {
    color: black;
}
.lbl-radio,
.lbl-checkbox {
    display: flex;
    align-items: center;
}
.input-checkbox,
.input-radio {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.form-group textarea {
    resize: vertical;
    height: 100px;
    border: none;
    outline: none;
    color:  black;
    border-radius: 3px;
    padding: 10px;
}
.btn-submit{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgba(6, 125, 54, 0.714);
}
